[submodule "modules/markdown"]
	path = modules/markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "modules/smartypants"]
	path = modules/smartypants
	url = https://github.com/michelf/php-smartypants.git
[submodule "modules/htmlpurifier"]
	path = modules/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "api"]
	path = api
	url = https://github.com/maul-esel/ALD-API.git
[submodule "modules/diff"]
	path = modules/diff
	url = https://github.com/gorhill/PHP-FineDiff.git
[submodule "modules/semver"]
	path = modules/semver
	url = https://gist.github.com/2975235.git
[submodule "modules/HttpException"]
	path = modules/HttpException
	url = https://gist.github.com/4709655.git
