[submodule "markdown"]
	path = markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "smartypants"]
	path = smartypants
	url = https://github.com/michelf/php-smartypants.git
[submodule "htmlpurifier"]
	path = htmlpurifier
	url = http://repo.or.cz/r/htmlpurifier.git
