AddDefaultCharset utf-8

RewriteEngine On

RewriteRule ^about$ about.php [L]
RewriteRule ^help$ help.php [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^upload$ upload.php [L]

RewriteRule ^candidatures$ /candidatures/          [R=301] # add a trailing slash
RewriteRule ^candidatures/$ candidature.php            [L] # the list of candidatures
RewriteRule ^candidatures/(\d+)$ candidature.php?id=$1 [L] # a specific candidature

RewriteRule ^reviews$ /reviews/                      [R=301] # add a trailing slash
RewriteRule ^reviews/$ review.php                        [L] # the list of reviews
RewriteRule ^reviews/([0-9a-fA-F]{32})$ review.php?id=$1 [L] # a specific review

RewriteRule ^login$    login.php?mode=login    [L,QSA]
RewriteRule ^register$ login.php?mode=register [L,QSA]
RewriteRule ^activate$ login.php?mode=activate [L,QSA]
RewriteRule ^logout$   login.php?mode=logout   [L,QSA]