@import url("font/stylesheet.css");

body
{
	font-family: QuicksandBook, sans-serif;
}

#header, #footer, #page-content
{
	width: 95%;
	margin: auto;
	display: inline-block;
	padding: 5px;
}

table
{
	border-collapse: collapse;
	empty-cells=show;
}

/* default link styling */
a, a:visited
{
	text-decoration: none;
	color: navy;
}

a:hover
{
	text-decoration: underline;
	color: darkred;
}

/* header and footer styles */
#header, #footer
{
	padding: 2px;
	background-color: green;
	color: lightgray;
}

#header
{
	vertical-align: middle;
}

#header a, #footer a
{
	color: lightgray;
}

.logo
{
	width: 100px;
	height: 100px;
	float: left;
}

#header h1
{
	text-align: center;
}

#footer table
{
	width: 100%;
	vertical-align: middle;
	display: inline
}

#footer table td
{
	width: 28%;
}

/* the page title */
#page-title
{
	text-align: center;
	font-size: 200%;
}

/* highlight first word in paragraph */
.text-first-word
{
	font-size: 150%;
	font-weight: bold;
	font-style: italic;
}

/* "next" and "previous" links */
.next-previous
{
display:inline-block
}
#next
{
	float: right;
}
#next:before, #next:after
{
	content: ' >> ';
}
#prev
{
	float: left;
}
#prev:before, #prev:after
{
	content: ' << ';
}