.achievement
{
	width: 95%;
	display: inline-block;
	background-color: #BBB;
	text-align: left;
	border: solid #999 1px;
	margin: 5px;
	padding: 10px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.achievement:hover
{
	background-color: #CCC;
}
.achievement-icon
{
	margin: 0 3px 3px 0;
	float: left;
	padding: 2px;
}