#candidate, #candidate-comments
{
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
}

#candidate-list .candidate-entry {
	display: inline-block;
	width: 99.5%;
	margin-bottom: 10px;
}
#candidate-list dt, #candidate-list dd {
	float: left;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #999;
}
#candidate-list dt {
	width: 20%;
	font-weight: bold;
}
#candidate-list dd {
	width: 75%;
}
h3.candidate-header {
	display: inline-block;
}
#candidate-list dd.cand-open {
	background-color: lightgreen;
}
#candidate-list dd.cand-closed {
	background-color: #FF6666;
}

#candidate td, #candidate-comments td {
	border: solid teal 2px;
	padding: 3px;
	background-color: lightblue;
	text-align: justify;
}
#candidate tr > td:first-of-type, #candidate-comments tr > td:first-of-type
{
	font-weight: bold;
	width: 15%;
}
#candidate #candidate-text
{
	font-weight: normal;
	width: auto;
	padding: 10px;
}
.vote
{
	padding: 5px;
	margin: 3px;
	background-color: lightblue;
	border: outset teal 3px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	display: inline-block;
}
.downvote
{
	background-color: darkred;
	border-color: red;
	color: white;
}
.upvote
{
	background-color: darkgreen;
	border-color: green;
	color: white;
}
#votes
{
	float: right;
}
#votes + *
{
	clear: right;
}
div.vote-option
{
	width: 30%;
	display: inline-block
}

#candidate-comments tr > td:first-of-type
{
	text-align: center;
}
.comment-avatar
{
	display: inline-block;
}