@import url("../font/stylesheet.css");
@import url("jquery-ui/smoothness/jquery-ui.css");

body, .ui-widget, .ui-widget button
{
	font-family: QuicksandBook, sans-serif;
}

table
{
	border-collapse: collapse;
	empty-cells: show;
}

img
{
	border: none;
}

/* highlight first word in paragraph */
.text-first-word
{
	font-size: 150%;
	font-weight: bold;
	font-style: italic;
}

/* the page title */
#page-title
{
	position: relative;
	top: 100px;
	text-align: center;
	font-size: 200%;
}

#page-content
{
	margin: auto;
	display: inline-block;
	padding: 5px;
	position: absolute;
	top: 175px;
	left: 0%;
	right: 0%;
	padding-bottom: 3%
}

/***********************************
 * DEFAULT LINK STYLING
 ***********************************/
a, a:visited
{
	text-decoration: none;
	color: navy;
}
a:hover
{
	text-decoration: underline;
	color: darkred;
}
/* END OF DEFAULT LINK STYLING */

/***********************************
 * ERROR MESSAGE STYLING
 ***********************************/
.error-message
{
	padding: 10px;
	text-align: justify;
}
.error-message .message, .error-message .message:before
{
	font-weight: bold;
	border-bottom: solid red 1px;
	margin-bottom: 7.5px;
}
.error-message .message:before
{
	content: 'Error: ';
	border-bottom-style: none;
}
/* END OF ERROR MESSAGE STYLING */

/***********************************
 * ADMIN MENU STYLING
 ***********************************/
.admin-menu
{
	list-style-type: none;
	border-style: none;
	width: 225px;
	display: none;
	position: relative;
	left: -45px;
}
.admin-menu li
{
	padding: 3px;
	margin: 0.4em;
	border-left: solid gray 1px
}
div.menu:hover > .admin-menu
{
	display: block
}
div.menu:hover
{
	border: solid gray 1px;
	border-top: ridge gray 3px;
	margin-left: 4px;
	margin-right: 4px
}
div.menu
{
	float: right;
	clear: left;
	border-style: ridge;
	width: 225px;
	padding: 3px;
	margin: 2px;
}
div.menu a
{
	color: black;
	margin: 0px;
	padding: 0px
}
div.menu a:hover
{
	text-decoration: none;
	cursor: pointer
}
.admin-menu li:hover
{
	border: solid gray 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
/* END OF ADMIN MENU STYLING */

/***********************************
 * "NEXT" & "PREVIOUS" LINK STYLING
 ***********************************/
.next-previous
{
	display:inline-block
}
#next
{
	float: right;
}
#next:before, #next:after
{
	content: ' >> ';
}
#prev
{
	float: left;
}
#prev:before, #prev:after
{
	content: ' << ';
}
/* END OF "NEXT" & "PREVIOUS" LINK STYLING */


/***********************************
 * HEADER & FOOTER STYLING
 ***********************************/
#footer, #header
{
	position: fixed;
	left: 0%;
	right: 0%;
	width: 100%;
	background-color: #EEE
}
#header
{
	top: 0%;
	height: 12%;
	border-bottom: ridge gray 2px;
}
#footer
{
	bottom: 0%;
	height: 2%;
	border-top: ridge gray 2px;
	padding: 3px;
	font-size: 80%;
}

/* elements in header */
#navigation
{
	float: left;
	width: 52%;
	height: 100%;
}
#header-logo, #navigation a.nav-link, #site-name, #header-ahk, #header-login
{
	display: table-cell;
	margin: 0px;
}
#navigation a.nav-link
{
	padding: 3% 5%;
	width: 20%;
	height: 90%;

	text-align: center;
	border: solid gray 1px;

	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFD3D3D3', endColorstr='#FF808080', GradientType='0');
	background-image: linear-gradient(top, lightgray 0%, gray 100%);
	background-image: -moz-linear-gradient(top, lightgray 0%, gray 100%);
	background-image: -webkit-linear-gradient(top, lightgray 0%, gray 100%);
	background-image: -ms-linear-gradient(top, lightgray 0%, gray 100%);
	background-image: -o-linear-gradient(top, lightgray 0%, gray 100%);
}
#site-name
{
	font-size: 110%;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
	font-weight: bolder;
}
#navigation a.nav-link:hover
{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFDDDDDD', endColorstr='#FF888888', GradientType='0');
	background-image: linear-gradient(top, #DDD 0%, #888 100%);
	background-image: -moz-linear-gradient(top, #DDD 0%, #888 100%);
	background-image: -webkit-linear-gradient(top, #DDD 0%, #888 100%);
	background-image: -ms-linear-gradient(top, #DDD 0%, #888 100%);
	background-image: -o-linear-gradient(top, #DDD 0%, #888 100%);
	text-decoration: none;
}

.nav-link:before
{
	margin: 0px;
	display: inline-table;
	text-align: center;
}
.nav-link:first-of-type:before
{
	content: url('../images/home.png');
}
.nav-link:nth-of-type(2):before
{
	content: url('../images/items.png');
}
.nav-link:nth-of-type(3):before
{
	content: url('../images/users.png');
}
.nav-link:nth-of-type(4):before
{
	content: url('../images/help.png');
}
.nav-link:nth-of-type(5):before
{
	content: url('../images/activity/upload.png');
}

#header-logo
{
	width: 11%;
	padding: 1.5px;
	padding-right: 0px;
	float: left;
}
#header-login
{
	position: fixed;
	width: 7.5%;
	left: 63.5%;

	background-color: #AAA;
	padding: 0.75%;
	text-align: center;
	display: table-cell;

	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;

	behavior: url(/style/PIE.htc); /* IE compatibility fix */
}
#header-ahk
{
	float: right;
	width: 25%;
	padding: 1%;
}
/* elements in footer */
#footer #copyright
{
	float: right
}
#footer a
{
	display: inline-block;
	padding-left: 3px;
	padding-right: 25px;
}
/* END OF HEADER & FOOTER STYLING */