@import url("../font/stylesheet.css");
@import url("jquery-ui/smoothness/jquery-ui.css");
@import url("markdown.css");

body, .ui-widget, .ui-widget button
{
	font-family: QuicksandBook, sans-serif;
}
.ui-widget-content a
{
	color: navy;
}

table
{
	border-collapse: collapse;
	empty-cells: show;
}

img
{
	border: none;
}

/* highlight first word in paragraph */
.text-first-word
{
	font-size: 150%;
	font-weight: bold;
	font-style: italic;
}

/* the page title */
#page-title
{
	position: relative;
	top: 100px;
	text-align: center;
	font-size: 200%;
	color: white;
}

#page-content
{
	margin: auto;
	display: inline-block;
	padding: 5px;
	position: absolute;
	top: 175px;
	left: 0%;
	right: 0%;
	padding-bottom: 3%;
}

body.pretty-ui {
	background-color: #333;
}

body.pretty-ui #page-content {
	background-color: white;
	width: 50%;
	padding: 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	behavior: url('/style/PIE.htc'); /* IE compatibility fix */
}

/***********************************
 * DEFAULT LINK STYLING
 ***********************************/
a, a:visited
{
	text-decoration: none;
	color: navy;
}
a:hover
{
	text-decoration: underline;
	color: darkred;
}
/* END OF DEFAULT LINK STYLING */

/***********************************
 * ERROR MESSAGE STYLING
 ***********************************/
.error-message
{
	padding: 10px;
	text-align: justify;
}
.error-message .message, .error-message .message:before
{
	font-weight: bold;
	border-bottom: solid red 1px;
	margin-bottom: 7.5px;
}
.error-message .message:before
{
	content: 'Error: ';
	border-bottom-style: none;
}
/* END OF ERROR MESSAGE STYLING */

/***********************************
 * ADMIN MENU STYLING
 ***********************************/
.admin-menu
{
	list-style-type: none;
	border-style: none;
	width: 225px;
	display: none;
	position: relative;
	left: -45px;
}
.admin-menu li
{
	padding: 3px;
	margin: 0.4em;
	border-left: solid gray 1px
}
div.menu:hover > .admin-menu
{
	display: block
}
div.menu:hover
{
	border: solid gray 1px;
	border-top: ridge gray 3px;
	margin-left: 4px;
	margin-right: 4px
}
div.menu
{
	float: right;
	clear: left;
	border-style: ridge;
	width: 225px;
	padding: 3px;
	margin: 2px;
}
div.menu a
{
	color: black;
	margin: 0px;
	padding: 0px
}
div.menu a:hover
{
	text-decoration: none;
	cursor: pointer
}
.admin-menu li:hover
{
	border: solid gray 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
/* END OF ADMIN MENU STYLING */

/***********************************
 * "NEXT" & "PREVIOUS" LINK STYLING
 ***********************************/
.next-previous
{
	display:inline-block
}
#next
{
	float: right;
}
#next:before, #next:after
{
	content: ' >> ';
}
#prev
{
	float: left;
}
#prev:before, #prev:after
{
	content: ' << ';
}
/* END OF "NEXT" & "PREVIOUS" LINK STYLING */


/***********************************
 * NAVIGATION & FOOTER STYLING
 ***********************************/
#navigation {
	position: fixed;
	left: 0%;
	top: 0%;
	bottom: 0%;

	height: 100%;
	width: 15%;
	z-index: 99;
}
.nav-triangle {
	display: block;
	position: absolute;
	left: 50px;
	width: 0;
	height: 0;
	border-left: 20px solid black;
	border-top: 12.5px solid transparent;
	border-bottom: 12.5px solid transparent;
}
.nav-tooltip {
	display: none;

	text-decoration: none;
	text-align: center;
	color: #444;
	background-color: white;

	box-shadow: 10px 10px 15px;
	-moz-box-shadow: 10px 10px 15px;
	-webkit-box-shadow: 10px 10px 15px;
	-ms-box-shadow: 10px 10px 15px;
	-o-box-shadow: 10px 10px 15px;

	border: solid #222 3px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;

	behavior: url(/style/PIE.htc);

	position: relative;
	left: +50px;
	top: -50px;
	padding: 5px;
	width: 100px;

	z-index: 101;
}
#navigation a:hover .nav-tooltip {
	display: inline-block;
}
#navigation img {
	position:fixed;
	left:0.5%;
	height:22px;
}
#navigation > a > div {
	position: fixed;
	width: 7.5%;
	left: 0%;
	height: 8.5%;

	border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	-ms-border-radius: 0 25px 25px 0;
	-webkit-border-radius: 0 25px 25px 0;
	-o-border-radius: 0 25px 25px 0;

	box-shadow: inset -5px 0px 7.5px #555;
	-moz-box-shadow: inset -5px 0px 7.5px #555;
	-webkit-box-shadow: inset -5px 0px 7.5px #555;
	-ms-box-shadow: inset -5px 0px 7.5px #555;
	-o-box-shadow: inset -5px 0px 7.5px #555;

	behavior: url(/style/PIE.htc);

	background-color: white;
}

#login * {
	visibility: collapse;
}
#login {
	display: inherit;
	position: fixed;
	right: 2.5%;
	top: -5%;
	width: 7.5%;
	background-color: lightgray;
	padding: 5px;
	text-align: center;

	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;

	behavior: url(/style/PIE.htc);
}
#login:hover {
	top: 0%;
}
#login:hover  * {
	visibility: visible;
}

/*
	footer
*/
#footer {
	position: fixed;
	left: 0%;
	right: 0%;
	bottom: 0%;

	width: 100%;
	height: 2%;
	padding: 3px;

	background-color: #EEE;
	border-top: ridge gray 2px;
	font-size: 80%;
	z-index: 100;
}

#footer #copyright {
	float: right
}

#footer a {
	display: inline-block;
	padding-left: 3px;
	padding-right: 25px;
}
/* END OF HEADER & FOOTER STYLING */

.preview-block {
	display: none;
}
textarea.preview-source:focus + .preview-block {
	display: block;
	margin-bottom: 5px;
}
.preview-empty {
	color: #555;
}