#logo {
	overflow: hidden;
	display: block;
	margin: auto;
	width: 25%;

	border: solid gray 2px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;

	box-shadow: 0px 10px 10px #444;
	-moz-box-shadow: 0px 10px 10px #555;
	-webkit-box-shadow: 0px 10px 10px #555;
	-ms-box-shadow: 0px 10px 10px #555;
	-o-box-shadow: 0px 10px 10px #555;

	&:hover {
		box-shadow: 0px 10px 15px #333;
		-moz-box-shadow: 0px 10px 15px #333;
		-webkit-box-shadow: 0px 10px 15px #333;
		-ms-box-shadow: 0px 10px 15px #333;
		-o-box-shadow: 0px 10px 15px #333;
	}
}

h1 {
	text-align: center;
}

#give, #get {
	text-align: center;
	padding: 5px;
	width: 48%;
	background-color: lightgray;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	p {
		text-align: justify;
		width: 80%;
		display: inline-block;
	}

	hr {
		width: 75%;
	}

	h3 {
		font-size: 150%;
		font-weight: normal;
	}
}
#give {
	float: left;

	box-shadow: -3px -1px 10px #000;
	-moz-box-shadow: -3px -1px 10px #000;
	-webkit-box-shadow: -3px -1px 10px #000;
	-ms-box-shadow: -3px -1px 10px #000;
	-o-box-shadow: -3px -1px 10px #000;

	&:hover {
		box-shadow: -3px -1px 15px #000;
		-moz-box-shadow: -3px -1px 15px #000;
		-webkit-box-shadow: -3px -1px 15px #000;
		-ms-box-shadow: -3px -1px 15px #000;
		-o-box-shadow: -3px -1px 15px #000;
	}
}
#get {
	float: right;

	box-shadow: 3px -1px 10px #000;
	-moz-box-shadow: 3px -1px 10px #000;
	-webkit-box-shadow: 3px -1px 10px #000;
	-ms-box-shadow: 3px -1px 10px #000;
	-o-box-shadow: 3px -1px 10px #000;

	&:hover {
		box-shadow: 3px -1px 15px #000;
		-moz-box-shadow: 3px -1px 15px #000;
		-webkit-box-shadow: 3px -1px 15px #000;
		-ms-box-shadow: 3px -1px 15px #000;
		-o-box-shadow: 3px -1px 15px #000;
	}
}

#logo-list  {
	display: block;
	position: fixed;
	right: 10%;
	width: 5%;
	top: 25%;
	bottom: 25%;

	a {
		display: block;
		background-color: white;

		position: relative;
		height: 17.5%;
		margin-bottom: 25px;

		box-shadow: 5px 5px 10px #000;
		-moz-box-shadow: 5px 5px 10px #000;
		-webkit-box-shadow: 5px 5px 10px #000;
		-ms-box-shadow: 5px 5px 10px #000;
		-o-box-shadow: 5px 5px 10px #000;

		border-radius: 25%;
		-moz-border-radius: 25%;
		-webkit-border-radius: 25%;
		-ms-border-radius: 25%;
		-o-border-radius: 25%;

		&:hover {
			box-shadow: 5px 5px 15px #000;
			-moz-box-shadow: 5px 5px 15px #000;
			-webkit-box-shadow: 5px 5px 15px #000;
			-ms-box-shadow: 5px 5px 15px #000;
			-o-box-shadow: 5px 5px 15px #000;
		}

		img {
			max-width: 90%;

			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}

#logo, #give, #get, #logo-list a {
	behavior: url(/style/PIE.htc); /* IE compatibility fix */
}