.markdown {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	box-shadow: 0px 2.5px 5px;
	-moz-box-shadow: 0px 2.5px 5px;
	-webkit-box-shadow: 0px 2.5px 5px;
	-ms-box-shadow: 0px 2.5px 5px;
	-o-box-shadow: 0px 2.5px 5px;

	behavior: url('/style/PIE.htc'); /* IE compatibility fix */

	background-color: white;
	padding: 10px;
	border: solid gray 1px;
	word-wrap: break-word;
	text-align: justify;
}

.markdown code {
	border: solid gray 1px;
	padding: 5px;
	background-color: #EFEFEF;
	min-width: 90%;
	overflow-x: scroll;
	display: block;
	white-space: pre;
}
.markdown td, .markdown th, .markdown table {
	border-width: 1px;
}
.markdown td, .markdown th {
	padding: 10px;
	border-style: inset;
	border-color: gray;
}
.markdown th {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.markdown table {
	border-spacing: 2px;
	border-style: solid;
	border-color: transparent;
	border-bottom: solid gray 2px;
}