fieldset {
	margin-top: 10px;
}

label {
	float: left;
	min-width: 15%;
	clear: both;
}

input {
	float: left;
	min-width: 45%;
}

legend {
	font-weight: bold;
}

#advice {
	border-bottom: solid gray 1px;
	display: block;
	width: 75%;
}

input[type='submit'], input[type='reset'] {
	float: right;
	min-width: 25%;
	width: 25%;
	margin: 5px;
}