@import "../global/cross-browser.scss";

%highlight-list {
	list-style: {
		type: none;
		position: inside;
	}

	display: block;
	padding-left: 0;
	margin-left: 0;

	& > li {
		width: 100%;
		display: block;

		& > a {
			display: inline-block;
			width: 99%;
			height: 100%;
			background-color: #BBB;
			margin: 5px;
			@include border-radius(5px);

			&:hover {
				@include box-shadow(0 0 3px 2px #000);
				background-color: #CCC;
				text-decoration: none;
			}

			& > img {
				width: 35px;
				margin: 5px;
				margin-right: 15px;
				vertical-align: middle;
				@include border-radius(3px);
			}
		}
	}
}