/* SCSS imports */
@import "global/cross-browser.scss";

.achievement {
	width: 95%;
	display: inline-block;
	background-color: #BBB;
	text-align: left;
	border: solid #999 1px;
	margin: 5px;
	padding: 10px;
	@include border-radius(5px);

	&:hover {
		background-color: #CCC;
	}
}

.achievement-icon {
	margin: 0 3px 3px 0;
	float: left;
	padding: 2px;
}