#user-navigation
{
	position: fixed;
	top: 30%;
	right: 0%;
	width: 15%;
	display: inline-block;
}

#user-navigation > a > div:before
{
	width: 25px;
	margin: 5px;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
}

#user-navigation > a:first-child > div:before
{
	content: url('../../images/profile.png');
}
#user-navigation > a:nth-child(2) > div:before
{
	content: url('../../images/activity/activity.png');
}
#user-navigation > a:nth-child(3) > div:before
{
	content: url('../../images/items.png');
}
#user-navigation > a:nth-child(4) > div:before
{
	content: url('../../images/achievements/achievements.png');
}
#user-navigation > a:nth-child(5) > div:before
{
	content: url('../../images/settings.png');
}
#user-navigation > a:nth-child(6) > div:before
{
	content: url('../../images/suspend.png');
}

#user-navigation div
{
	width: 100%;
	margin: 3px;
	margin-bottom: 10%;

	background-color: #666;
	color: white;
	font-weight: bold;
	height: 45px;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;

	border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	-webkit-border-radius: 15px 0px 0px 15px;
	-ms-border-radius: 15px 0px 0px 15px;
	-o-border-radius: 15px 0px 0px 15px;

	behavior: url('/style/PIE.htc'); /* IE compatibility fix */
}
#user-navigation a.nav-url.nav-current
{
	pointer-events: none;
}
#user-navigation a.nav-current div, #user-navigation div:hover
{
	background-color: #888;
}
#user-navigation:last-of-type
{
	right: 0%
}

#user-gravatar, #page-title div
{
	display: inline-block;
	margin: 3px;
	line-height: 50px;
	height: 50px;
	vertical-align: middle;
}
#user-gravatar
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	behavior: url('/style/PIE.htc'); /* IE compatibility fix */
}
body
{
	background-color: lightgray;
}
#page-content
{
	width: 50%;
	text-align: center;
	background-color: white;
	margin-top: 10px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
#content-profile, #content-activity, #content-achievements, #content-items
{
	width: 100%;
	height: 100%;
}
