#user-navigation {
	position: fixed;
	top: 30%;
	right: 0%;
	width: 15%;
	display: inline-block;

	& > a > div:before {
		width: 25px;
		margin: 5px;
		display: inline-block;
		line-height: 50px;
		vertical-align: middle;
	}

	& > a:first-child > div:before {
		content: url('../../images/profile.png');
	}

	& > a:nth-child(2) > div:before {
		content: url('../../images/activity/activity.png');
	}

	& > a:nth-child(3) > div:before {
		content: url('../../images/items.png');
	}

	& > a:nth-child(4) > div:before {
		content: url('../../images/achievements/achievements.png');
	}

	& > a:nth-child(5) > div:before {
		content: url('../../images/settings.png');
	}

	& > a:nth-child(6) > div:before {
		content: url('../../images/suspend.png');
	}

	div {
		width: 100%;
		margin: 3px;
		margin-bottom: 10%;

		background-color: #666;
		color: white;
		font-weight: bold;
		height: 45px;
		display: inline-block;
		line-height: 50px;
		vertical-align: middle;

		border-radius: 15px 0px 0px 15px;
		-moz-border-radius: 15px 0px 0px 15px;
		-webkit-border-radius: 15px 0px 0px 15px;
		-ms-border-radius: 15px 0px 0px 15px;
		-o-border-radius: 15px 0px 0px 15px;

		behavior: url('/style/PIE.htc'); /* IE compatibility fix */
	}

	a.nav-url.nav-current {
		pointer-events: none;
	}

	a.nav-current div, div:hover {
		background-color: #888;
	}
}

#user-gravatar, #page-title div {
	display: inline-block;
	margin: 3px;
	line-height: 50px;
	height: 50px;
	vertical-align: middle;
}

#user-gravatar {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	behavior: url('/style/PIE.htc'); /* IE compatibility fix */
}

#page-content {
	margin-top: 10px;
}

#content-profile, #content-activity, #content-achievements, #content-items
{
	width: 100%;
	height: 100%;
}
