#candidate, #candidate-comments
{
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
}

#candidate > tbody > tr > td, #candidate > tbody > tr >  th, #candidate-comments  > tbody > tr > td, #candidate-comments  > tbody > tr > th {
	border: solid #666 0px;
	padding: 5px;
	background-color: #bbb;
	text-align: justify;
	border-radius: 2px;
}
#candidate > tbody > tr > th, #candidate-comments > tbody > tr > th
{
	font-weight: bold;
	width: 15%;
}
#candidate #candidate-text
{
	font-weight: normal;
	width: auto;
	padding: 10px;
}
.vote
{
	padding: 5px;
	margin: 3px;
	background-color: #CCC;
	border: outset gray 3px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	display: inline-block;
}
.downvote
{
	background-color: lightcoral;
	border-color: red;
}
.upvote
{
	background-color: lightgreen;
	border-color: green;
}
#votes
{
	float: right;
}
#votes + *
{
	clear: right;
}
div.vote-option
{
	width: 30%;
	display: inline-block
}

#candidate-comments > tbody > tr > th:first-of-type
{
	text-align: center;
}
.comment-avatar
{
	display: inline-block;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
textarea {
	resize: vertical;
}