.letter-item {
	font: {
		weight: bold;
		size: 250%;
	}
}

html.no-js .letter-container { /* styles for non-javascript clients (use jQueryUI with JS instead) */
	padding: 5px;
	border: solid lightgray 1px {
		bottom: {
			style: double;
			width: 5px;
		}
	}
}

li.lib {
	list-style-image: url('/images/lib.png');
}

li.app {
	list-style-image: url('/images/app.png');
}

#items-list li {
	position: relative;
	background-color: transparent;
}

li a.unreviewed {
	background-image: url('/images/review.png');
	background-position:  right center;
	background-size: auto 50%;
	background-repeat: no-repeat;

	width: 10%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}