#item-details td, #item-details th {
	border-bottom: solid gray 1px;
	padding: 7px;
}
#item-details {
	min-width: 50%;
	float: left;
	clear: both;
	margin-right: 15px;
	margin-bottom: 15px;
}
#item-details th {
	color: #333;
}
#item-descr-title, #item-descr {
	display: inline;
}
#item-descr ~ h3 {
	clear: both;
}
ul {
	list-style-type: none;
}
ul li {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	text-align: center;
	margin-bottom: 10px;
}
ul li a {
	width: 75%;
	display: inline-block;
}
ul li:before {
	color: #333;
	content: '\25b6\a0\a0';
}
ul li:hover:before {
	color: #888;
}

#page-title:before, #page-title:after {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	behavior: url('/style/PIE.htc'); /* IE compatibility fix */

	background-color: white;

	padding: 5px;
	margin-right: 5px;
	margin-left: 5px;

	width: 3%;
	line-height: 2%;
	display: inline-block;
}
#page-title.lib:before, #page-title.lib:after {
	content: url('/images/lib.png');
}
#page-title.app:before, #page-title.app:after {
	content: url('/images/app.png');
}